.rectangle {
    width: 100%;
    height: 250px;
    background-color: grey;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
}
.center {
    color: rgb(73, 157, 196);
}

.img1{
    width: 330px;
    height: 330px;
    display: flex;
    margin-left: 800px;
}


